@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
    font-family: 'Josefin Sans',Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 300px;
}
main{
    color: #eee;
    background-color: #333;
    min-height: 100px;
    padding: 2% 5% 5% 5%;
    width: 80%;
    margin: 5% auto;
    border-radius: 9px;
}
main p,h2{
    text-align: center;
}
h2{
    font-size: 350%;
}
button:active{
    background-color: #ccc;
}
.opcoes{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.score{
    text-align: center;
    font-size: 3rem;
}
.score p{
    margin: 0;
}
.opcoes img{
    transition: 0.4s;
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(248, 77, 77);
}
.opcoes img:hover{
    transition: 0.4s;
    box-shadow: 2px 2px 10px rgb(255, 233, 233);
}
#gon img{
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
}